
.svgImg{
  background-color:rgb(226, 226, 226);
  width: min(13vmin, 55px);
  margin-left: 0.5vmin;
  margin-right: 0.5vmin;
  border: #232323 solid 0.4vmin ;
  border-radius: 2vmin;
  cursor: pointer;
}


.grid{
  text-align: center;

  border: 1vmin solid #232323;
  border-radius: 2vmin;
  margin: auto;
  /* max-width: min(90vmin, 500px); */
  max-width: calc((min(13vmin, 55px) + 2vmin)*6) ; 
  padding-top: 1vmin;
  
}


.top{
  margin: auto;
  text-align: center;
  margin-bottom: 2vmin;
  padding: auto;
  /* border: red solid 1px; */
  
}

body{
  background-color: #159895;
}


h2{
  font-family: Noto Sans;
  font-size:x-large;
  font-weight: bolder;
  letter-spacing: 0.3vmin;
  /* color: #CD104D; */
}

.errorBox{

  margin: auto;
  margin-top: 5px;
  background-color: #f7a7a3;

  text-align: center;
  max-width: calc((min(13vmin, 55px) + 2vmin)*6 - 20vmin);
  max-height: 20%;
  border-radius: 5px;

  font-family:'Times New Roman', Times, serif;
  font-size: large;
  font-weight: bolder;

  transition: opacity 1s;

  border-left:5px solid #8f130c;
  
  padding:10px;

}

.errorMsg{
  margin-top: 0;
  margin-bottom: 0;
}