<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <!-- <img src="../static/images/single.png" /> -->
</head>
<body>

    </div>
    <script type="text/javascript">
        var roomId = {{roomId}}
        var playerId = {{playerId}} 
        
        // Dumb vscode doesnt understand jinja
    </script>

    <div class="top">
        <h2>Room: {{roomId}}</h2>
        {% if displayStartButton %}
            <button id="start">Start</button>
        {% endif %}
    </div>
    <div class="grid"> </div>



    <script src="../static/js/app.js"></script>

</body>
</html>

<!--     
    <table >
        <tr>
            <td><img src="../static/images/doubleBlue.png"/></td>
            <td><img src="../static/images/doubleBlue.png"/></td>
            <td><img src="../static/images/doubleBlue.png"/></td>
            <td><img src="../static/images/doubleBlue.png"/></td>
            <td><img src="../static/images/doubleBlue.png"/></td>
            <td><img src="../static/images/doubleBlue.png"/></td>
        </tr>
        <tr>
            <td><img src="../static/images/doubleBlue.png"/></td>
            <td><img src="../static/images/doubleBlue.png"/></td>
            <td><img src="../static/images/doubleBlue.png"/></td>
            <td><img src="../static/images/doubleBlue.png"/></td>
            <td><img src="../static/images/doubleBlue.png"/></td>
            <td><img src="../static/images/doubleBlue.png"/></td>
        </tr>
        <tr>
            <td><img src="../static/images/doubleBlue.png"/></td>
            <td><img src="../static/images/doubleBlue.png"/></td>
            <td><img src="../static/images/doubleBlue.png"/></td>
            <td><img src="../static/images/doubleBlue.png"/></td>
            <td><img src="../static/images/doubleBlue.png"/></td>
            <td><img src="../static/images/doubleBlue.png"/></td>
        </tr>
        <tr>
            <td><img src="../static/images/doubleBlue.png"/></td>
            <td><img src="../static/images/doubleBlue.png"/></td>
            <td><img src="../static/images/doubleBlue.png"/></td>
            <td><img src="../static/images/doubleBlue.png"/></td>
            <td><img src="../static/images/doubleBlue.png"/></td>
            <td><img src="../static/images/doubleBlue.png"/></td>
        </tr>
        <tr>
            <td><img src="../static/images/doubleBlue.png"/></td>
            <td><img src="../static/images/doubleBlue.png"/></td>
            <td><img src="../static/images/doubleBlue.png"/></td>
            <td><img src="../static/images/doubleBlue.png"/></td>
            <td><img src="../static/images/doubleBlue.png"/></td>
            <td><img src="../static/images/doubleBlue.png"/></td>
        </tr>
        <tr>
            <td><img src="../static/images/doubleBlue.png"/></td>
            <td><img src="../static/images/doubleBlue.png"/></td>
            <td><img src="../static/images/doubleBlue.png"/></td>
            <td><img src="../static/images/doubleBlue.png"/></td>
            <td><img src="../static/images/doubleBlue.png"/></td>
            <td><img src="../static/images/doubleBlue.png"/></td>
        </tr>
    </table> -->