<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chain Reaction</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap" rel="stylesheet"> 
</head>
<body>
    <h1>CHAIN REACTION</h1>
    <button id="create">Create Room</button><br>
    <input id="roomNo" type="number"/>
    <button id="join">Join Room</button>
    <p>Made with ❤️ by Shishira Iyar</p>
    <script src="../static/js/index.js"></script>
</body>
</html>