<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Chain reaction</h1>
    <button id="create">Create Room</button><br>
    <input id="roomNo" type="number"/>
    <button id="join" value="0">Join Room</button>
    <p>Made with ❤️ by Shishira Iyar</p>
    <script src="../static/js/index.js"></script>
</body>
</html>